* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div-search {
    width: 100%;
}

#searchbar {
    position: relative;
    width: 300px;
    height: 30px;
}

.button {
    padding: 10px;
    background-color: #C1DFD3;
    border: 1px solid #C1DFD3;
}

td {
    border: 1px solid #000;
}