* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Urbanist', sans-serif;
}
body {
    background-color: #a2ca8e;
}
.container {
    margin: auto;
    max-width: 1140px;
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 400px repeat(2, 1fr);
    justify-content: center;
    align-content: center;   
    padding: 120px; 
}
.register-background,
.register-form {
    background-color: #FFFFFF;
}

.register-background {
    border-radius: 10px 0 0 10px;
    grid-column: 1 / 2;
    background-image: url('../Images/garota-de-tiro-medio-se-distraindo-na-mesa\(M\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.register-form {
    border-radius: 0 10px 10px 0;
    grid-column: 2 / 4;
    padding: 50px 30px;
}
.register-form h1 {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}
.form-items .form-item {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.register-form .form-items .form-items--personal-info, 
.register-form .form-items .form-items--address-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}
.form-items--personal-info .form-item.name,
.form-items--address-info .form-item.cep,
.form-items--address-info .form-item.address {
    grid-column: 1 / 3;
}


